<!DOCTYPE html>
<html lang="en" ng-app="example-app">
  <head>
    <meta charset="utf-8" />
    <title>angular-reorder example</title>
    <style>
      .reorder {
        list-style: none;
      }

      .reorder li {
        padding: 5px;
        background: #3498db;
        margin: 10px;
        cursor: move;
      }

      .reorder-dragging {
        /*display: none;*/
      }

      .reorder-placeholder {
        opacity: .5;
      }
    </style>
    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/angular-reorder.full.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="MainController">
      <ul reorder ng-model="itemList">
        <li draggable="true" ng-repeat="item in itemList">{{ item }}</li>
      </ul>
    </div>
  </body>
</html>
